# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Developer note: near.gitignore will be renamed to .gitignore upon project creation
# dependencies
/node_modules
/.pnp
.pnp.js
/out

contracts/target/game
contracts/target/game/*

contracts/target/nft-market/ft
contracts/target/game/nft-market/ft*

contracts/target/nft-market/nft-simple
contracts/target/game/nft-market/nft-simple*

contracts/target/nft-market/market-simple
contracts/target/game/nft-market/market-simple*


#keys
/neardev

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/contracts/target/
dist
.cache